.lanche-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lanche-item {
    text-align: center;
    max-width: 250px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 auto 50px auto;
}

.lanche-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.lanche-item--img {
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.lanche-item--img img {
    width: 100%;
    height: auto;
}

.lanche-item--add {
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #d32f2f;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease 0.2s;
}

.lanche-item a:hover .lanche-item--add {
    background-color: #b71c1c;
}

.lanche-item--price {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-top: 5px;
}

.lanche-item--name {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.lanche-item--desc {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}
@media (max-width: 1024px) {
    .lanche-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .lanche-item--price {
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        margin-top: 5px;
    }

    .lanche-item--name {
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin-top: 5px;
    }

    .lanche-item--desc {
        font-size: 20px;
        color: #000;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .lanche-area {
        display: block;
    }

    .lanche-item {
        max-width: 100%;
    }

    .lanche-item--price {
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        margin-top: 5px;
    }

    .lanche-item--name {
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin-top: 5px;
    }

    .lanche-item--desc {
        font-size: 20px;
        color: #000;
        margin-top: 10px;
    }
}
