@import url("global/normalize.css");
@import url("global/reset.css");
@import url("global/font.css");
@import url("global/body.css");

@import url("components/header/index.css");
@import url("components/main/index.css");

.models {
    display: none;
}

main {
    flex: 1;
    padding: 20px;
    margin-top: 10vh;
}

h1,
h2 {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

.background {
    background-color: rgba(254, 255, 238, 0.89);
    border-radius: 2em;
}

.background h2 {
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

@media (max-width: 769px) {
    body {
        flex-direction: column;
    }

    .menu-closer {
        display: block;
    }
}

@media (max-width: 426px) {
    main {
        margin-top: 40vh;
    }
}
