@import url("global/normalize.css");
@import url("global/reset.css");
@import url("global/font.css");
@import url("global/body.css");

@import url("components/header/index.css");

.models {
    display: none;
}

aside {
    background-color: #ffcdd2;
    width: 0vw;
    transition: all ease 0.2s;
    overflow-x: hidden;
}

aside.show {
    width: 30vw;
}

.cart--area {
    margin-top: 4em;
    padding: 20px;
}

.cart--area h1 {
    display: relative;
}

main {
    flex: 1;
    padding: 20px;
    margin-top: 60px;
}

h1,
h2 {
    text-align: center;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
}

.background {
    background-color: rgba(254, 255, 238, 0.89);
    border-radius: 2em;
}

.background h2 {
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}

.lanche-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.lanche-item {
    text-align: center;
    max-width: 250px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 0 auto 50px auto;
}

.lanche-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.lanche-item--img {
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}

.lanche-item--img img {
    width: 100%;
    height: auto;
}

.lanche-item--add {
    width: 80px;
    height: 40px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #d32f2f;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease 0.2s;
}

.lanche-item a:hover .lanche-item--add {
    background-color: #b71c1c;
}

.lanche-item--price {
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-top: 5px;
}

.lanche-item--name {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}

.lanche-item--desc {
    font-size: 16px;
    color: #000;
    margin-top: 10px;
}

.lancheWindowArea {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: none;
    transition: all ease 0.5s;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.lancheWindowBody {
    width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #999;
    display: flex;
    margin: 20px 0px;
}

.lancheBig {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lancheBig img {
    height: 250px;
    width: auto;
}

.lancheInfo {
    flex: 1;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    padding-bottom: 50px;
}

.lancheInfo h1 {
    margin-top: 50px;
}

.lancheInfo .lancheInfo--desc {
    font-size: 15px;
    color: #474747;
    margin-top: 10px;
    font-family: "Roboto Slab", serif;
}

.lancheInfo--sector {
    color: #ccc;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.lancheInfo--price {
    display: flex;
    align-items: center;
}

.lancheInfo--actualPrice {
    font-size: 28px;
    margin-right: 30px;
}

.lancheInfo--qtarea {
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}

.lancheInfo--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}

.lancheInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.lancheInfo--addButton {
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48d05f;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.lancheInfo--addButton:hover {
    background-color: #32a345;
}

.lancheInfo--cancelButton {
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #d04848;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 30px;
}

.lancheInfo--cancelButton:hover {
    background-color: #a33232;
}

.cart {
    margin-bottom: 20px;
}

.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.cart--item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.cart--item-nome {
    flex: 1;
}

.cart--item--qtarea {
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}

.cart--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}

.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}

.cart--totalitem {
    padding: 15px 0;
    border-top: 1px solid #d32f2f;
    color: #315970;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.cart--totalitem span:first-child {
    font-weight: bold;
}

.cart--totalitem.big {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

.cart--finalizar {
    padding: 20px 30px;
    border-radius: 20px;
    background-color: #48d05f;
    color: #fff;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    border: 2px solid #63f77c;
    transition: all ease 0.2s;
}

.cart--finalizar:hover {
    background-color: #35af4a;
}

@media (max-width: 1024px) {
    .lanche-area {
        grid-template-columns: repeat(2, 1fr);
    }

    .lanche-item--price {
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        margin-top: 5px;
    }

    .lanche-item--name {
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin-top: 5px;
    }

    .lanche-item--desc {
        font-size: 20px;
        color: #000;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    body {
        flex-direction: column;
    }

    .lanche-area {
        display: block;
    }

    .lanche-item {
        max-width: 100%;
    }

    aside {
        width: auto;
        position: fixed;
        left: 100vw;
        right: 0;
        top: 0;
        bottom: 0;
        transition: all ease 0.2s;
    }

    aside.show {
        width: auto;
    }

    .lanche-item--price {
        font-size: 25px;
        font-weight: 700;
        color: #000000;
        margin-top: 5px;
    }

    .lanche-item--name {
        font-size: 25px;
        font-weight: bold;
        color: #000;
        margin-top: 5px;
    }

    .lanche-item--desc {
        font-size: 20px;
        color: #000;
        margin-top: 10px;
    }

    .cart--area {
        width: 100vw;
    }

    .menu-closer {
        display: block;
    }

    .lancheWindowArea {
        justify-content: center;
        align-items: center;
    }

    .lancheWindowBody {
        width: 100vw;
        display: block;
        padding: 20px;
        border-radius: 0;
        box-shadow: none;
        margin: 0;
    }

    .lancheBig img {
        width: 40%;
        height: auto;
    }

    .lancheInfo h1 {
        margin-top: 20px;
    }

    .lancheInfo--qtarea {
        height: 60px;
    }

    .lancheInfo--qtarea button {
        font-size: 25px;
        padding: 0px 25px;
    }

    .lancheInfo--qt {
        line-height: 60px;
        font-size: 20px;
    }

    .lancheInfo--addButton {
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }

    .lancheInfo--cancelButton {
        font-size: 20px;
        display: block;
        text-align: center;
        margin: 30px auto;
    }
}

@media (max-width: 425px) {
    main {
        margin-top: 30vh;
    }
}
